@charset "UTF-8";

#game_content{
	/* Loại bỏ width cố định để dễ co giãn */
	min-width: 320px;
	height: auto;
	margin: auto;
	background-color: rgba(51, 51, 85, 0.4);
	border: 3px solid rgba(34, 34, 238, 0.4);
	border-top: 15px solid rgba(34, 34, 238, 0.4);
	border-radius: 5px;
	display: flex; /* Thêm để hỗ trợ layout mới */
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 10px;
}

#grid{
	position: relative;
	width: 525px;
	height: 525px;
	background: rgba(32, 32, 32, 0.4);
	background-repeat: no-repeat;
}

#player_info{
	position: relative;
	width: 230px;
	text-align: center;
}

.gem, .bomb{
	position: absolute;
	width: 60px;
	height: 60px;
	background-position: center center;
	background-repeat: no-repeat;
}

#content button{
	cursor:pointer;
	height: 30px;
	margin: 5px;
	padding: 0 9px 0 9px;
}

#content button:hover{
	border-color: #999;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#player_info button{
	cursor: pointer;
	margin: 10px 0;
	border-radius: 2px;
	border: 3px solid rgba(68 ,68, 68, 1);
	background-color: rgb(6, 36, 195);
	font-family: 'Electrolize', sans-serif;
	color: #FFF;
	padding: 5px 15px;
}