@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #000000;
	font-family: 'Electrolize', 'Segoe UI', Helvetica, Arial, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	text-align: justify;
	overflow-x: hidden; 
}

#content {
	position: relative;
	width: 100%;
	max-width: 1000px; 
	min-height: 700px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

#site_content, #rules_content {
	padding: 20px; 
	font-size: 16px;
	color: #DEDEDE;
}

@media (min-width: 768px) {
	#site_content, #rules_content {
		padding: 50px;
	}
}

a {
	text-decoration: none;
	color: #000000;
}

header {
	padding-bottom: 20px;
	position: relative;
	z-index: 30;
	background-color: #000000;
}

nav {
	background-color: #111122;
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

nav a {
	display: inline-block;
	padding: 10px 15px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

nav a.current_menu {
	background-color: rgba(200, 200, 200, 0.4);
}


nav a:first-child {
	border-radius: 20px 0 0 20px;
}


@media (max-width: 480px) {
    nav {
        border-radius: 10px;
    }
    nav a {
        width: 100%; 
        border-radius: 0 !important;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}